*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.titulo{
    color: #394A8F;
    text-align: center;
    font-size: 50px;
}

.parrafo{
    text-align: center;
    font-size: 18px;
    color: #7A7A7A;
}

.container{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    gap: 10px;
}


.btn-reserva{
    width: 100%;
    border-radius: 20px;
    background-color: #394A8F;
    color: white;
}

.btn-reserva:hover{
    background-color: #30364C;
    color: white;
}

.round {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}
 
.card{
    background: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    
}

.card:hover {
    
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.round-img{
    border-top-left-radius:40px;
    border-top-right-radius: 40px;
}

.suscribite{
    height: 20rem;
    display: grid;
    grid-template-columns: 50% 50%;
  
}

.contenedor-suscripcion {
    display: flex;
}

.contenedor-texto h3{
    color: #394A8F;
}

.contenedor-texto p{
    color: #7A7A7A;

}

.contenedor-texto{
    
}


.contenedor-imagen {
    height: 70%;
    width: 70%;
    align-items: center;
    margin: auto;

    background-image: url(../img/dibujo.svg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.contenedor-texto-adentro{
    height: 70%;
    width: 70%;
    align-items: center;
    margin: 10% auto;
    
}

.contenedor-texto-adentro h3{
    font-size: 50px;
    text-align: left;
    
}



.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


svg{
    width: 8%;
}

ul li{
    list-style: none;
}

.lista{
    text-align:left;
    background-color: left;
    
    padding-left: 0%;
    
}

.lista li{
    text-align: left;
    text-align:unset;
    padding-left: 0;
    margin-bottom: 2%;
    color: rgb(48, 54, 76);
    font-weight: 700;
    
}